<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Website Quản lý</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('header') %>

  <main>
    <%- body %>  <!-- express-ejs-layouts sẽ nhúng view con ở đây -->
  </main>

<%- include('footer') %>
</body>
</html>
